---
import ContentContainer from "@shared/containers/ContentContainer.astro";
import EnterWaitListForm from "./EnterWaitListForm.astro";

import { Image } from "astro:assets";
import BannerImage from "./assets/angular-moderno-banner.webp";
import AngularLogo from "./assets/angular_gradient.png";
import SassLogo from "./assets/sass-logo.png";
import RxJSLogo from "./assets/rxjs-logo.svg";
import ChartJSLogo from "./assets/chartjs-logo.svg";
---

<ContentContainer>
  <div
    class="3xl:h-screen flex flex-col justify-center relative my-[70px] xs:my-[100px] 3xl:my-0"
  >
    <div class="flex justify-center xl:justify-start">
      <div
        class="w-full flex flex-col items-center xl:items-start justify-center text-center xl:text-start xl:px-32 3xl:px-0"
      >
        <h1 class="hero-title max-w-[470px] 3xl:max-w-[600px]">
          O Curso De <span class="angular-font-color">Angular</span> Mais Atualizado
          do Mercado
        </h1>

        <p
          class="hero-description my-8 3xl:my-12 text-black max-w-[560px] 3xl:max-w-[680px]"
        >
          Aprenda todas as novidades do <span class="angular-font-color"
            >Angular 20</span
          > e se torne um desenvolvedor mais produtivo e eficiente no seu dia a dia!
        </p>

        <div
          class="flex justify-center xl:justify-start w-full max-w-[350px] -ml-[15px] min-h-[140px]"
        >
          <EnterWaitListForm />
        </div>
      </div>

      <Image
        src={BannerImage}
        alt={"Angular Moderno"}
        loading="eager"
        class="hidden xl:block max-w-[500px] 3xl:max-w-[650px] absolute w-full opacity-10 xl:opacity-100 xl:right-24 right-0 3xl:right-0 -mt-[120px] 3xl:-mt-[150px]"
      />
    </div>

    <div
      class="flex justify-center flex-wrap gap-8 mt-6 sm:mt-12 xl:mt-[70px] 3xl:mt-[170px]"
    >
      <div class="tooltip tooltip-open tooltip-bottom" data-tip="Angular">
        <Image src={AngularLogo} class="tech-image" alt="Angular" />
      </div>
      <div
        class="tooltip tooltip-open tooltip-bottom"
        data-tip="Angular Material"
      >
        <svg
          x="0px"
          y="0px"
          class="tech-image"
          viewBox="0 0 960 960"
          fill="#00458f"
        >
          <polygon points="562.6,109.8 804.1,629.5 829.2,233.1"></polygon>
          <polygon
            points="624.9,655.9 334.3,655.9 297.2,745.8 479.6,849.8 662,745.8"
          ></polygon>
          <polygon points="384.1,539.3 575.2,539.3 479.6,307"></polygon>
          <polygon points="396.6,109.8 130,233.1 155.1,629.5"></polygon>
        </svg>
      </div>
      <div class="tooltip tooltip-open tooltip-bottom" data-tip="SASS">
        <Image src={SassLogo} alt={"SASS"} class="tech-image" />
      </div>
      <div class="tooltip tooltip-open tooltip-bottom" data-tip="RxJS">
        <Image src={RxJSLogo} alt={"RxJS"} class="tech-image" />
      </div>
      <div class="tooltip tooltip-open tooltip-bottom" data-tip="Chart.js">
        <Image src={ChartJSLogo} alt={"Chart.js"} class="tech-image" />
      </div>
    </div>
  </div>
</ContentContainer>

<style lang="scss">
  .tech-image {
    @apply w-[50px] h-[50px] sm:w-[70px] sm:h-[70px] 3xl:w-[100px] 3xl:h-[100px];
  }
</style>
