---
import { siteConfig } from "@site-config";

const { title, description } = Astro.props;

const pageTitle = `${siteConfig.title} | ${title}`
const pageDescription = description || siteConfig.description;
---

<meta charset="UTF-8" />
<meta name="robots" content="index, follow" />
<meta name="viewport" content="width=device-width" />

<title>{pageTitle}</title>
<meta name="title" content={pageTitle} />
<meta name="description" content={pageDescription} />
