---
import ContentContainer from "../../shared/containers/ContentContainer.astro";

const courses = [
  {
    label: "Testes Automatizados com Angular 🔥",
    url: "/cursos/testes-automatizados",
  },
  {
    label: "Curso de Angular 17",
    url: "https://www.youtube.com/playlist?list=PLXEUJjGpEX7zwdFSAzIPiSf9p0tOeI1Yu",
  },
]

const links = [
  {
    url: "https://blog.codedimension.com.br",
    label: "Blog",
  },
];
---

<div class="h-[105px] xl:h-[90px] w-full"></div>

<div
  class="w-full glass fixed top-0 left-0 z-40 border-bottom h-[105px] xl:h-[90px]"
>
  <ContentContainer>
    <div class="py-3 flex items-center">
      <a href="/">
        <img src="/images/logomark/logo-cd-symbol.svg" alt="Code Dimension Logo" class="w-[50px]" />
      </a>

      <nav class="hidden xl:inline-block ml-auto">

        <details class="dropdown">
          <summary class="btn btn-ghost mx-1 font-normal text-base hover:bg-primary hover:text-white">Cursos</summary>
          <ul class="menu dropdown-content bg-base-100 rounded-box z-[1] w-[350px] p-2 shadow-2xl">
            {courses.map((course) => (
              <li><a class="font-normal text-base hover:bg-primary hover:text-white" href={course.url}>{course.label}</a></li>
            ))}
          </ul>
        </details>

        {
          links.map((link) => {
            return (
              <a class="btn btn-ghost mx-1 font-normal text-base hover:bg-primary hover:text-white" href={link.url}>
                {link.label}
              </a>
            );
          })
        }
      </nav>

      <a
        class="cursor-pointer ml-auto block xl:hidden"
        id="mobile-menu-handler"
      >
        <img
          class="w-[32px] ml-auto"
          src="/images/header/mobile/mobile-menu.svg"
          alt="Hamburger Menu"
        />
      </a>
    </div>
  </ContentContainer>
</div>

<div
  id="mobile-menu-modal"
  class="header fixed top-0 z-50 w-full h-full hidden bg-base-100"
>
  <ContentContainer>
    <div class="flex">
      <img src="/images/logomark/logo-cd-symbol.svg" alt="Code Dimension Logo" class="w-[50px]" />

      <a id="close-mobile-menu-modal" class="cursor-pointer ml-auto ">
        <img
          src="/images/header/mobile/close-menu.svg"
          alt="Close Mobile Menu"
          class="w-[48px]"
        />
      </a>
    </div>

    <nav
      class="flex flex-col items-center justify-center h-[calc(100%_-_44px)]"
    >

      <div class="divider">Cursos</div>
      {
        courses.map((link) => {
          return (
            <a class="header-link" href={link.url}>
              {link.label}
            </a>
          );
        })
      }

      <div class="divider">Outras páginas</div>
      {
        links.map((link) => {
          return (
            <a class="header-link" href={link.url}>
              {link.label}
            </a>
          );
        })
      }
    </nav>
  </ContentContainer>
</div>

<script>
  const mobileMenu = document.querySelector("#mobile-menu-handler");
  const mobileMenuModal = document.querySelector("#mobile-menu-modal");
  const closeMobileMenuModal = document.querySelector(
    "#close-mobile-menu-modal"
  );

  const openModal = () => {
    mobileMenuModal?.classList.add("block");
    mobileMenuModal?.classList.remove("hidden");
  };

  const closeModal = () => {
    mobileMenuModal?.classList.add("hidden");
    mobileMenuModal?.classList.remove("block");
  };

  mobileMenu?.addEventListener("click", () => openModal());
  closeMobileMenuModal?.addEventListener("click", () => closeModal());
</script>

<style lang="scss">
  .header-link {
    margin: 0 16px;
    text-align: center;
    font-size: 24px;
    width: 100%;
    padding: 24px;

    @media screen and (min-width: 1280px) {
      font-size: 16px;
      padding: 8px;
    }
  }
</style>
