---
import ContentContainer from "../../shared/containers/ContentContainer.astro";

const socialMediaLinks = [
  {
    link: "https://www.youtube.com/@code.dimension",
    icon: "/images/social/youtube.svg",
    label: "YouTube",
  },
  {
    link: "https://discord.gg/VFNmgxEHXF",
    icon: "/images/social/discord.svg",
    label: "Discord",
  },
  {
    link: "https://chat.whatsapp.com/Eo6YWjWyAgA5gdBUkXoi13",
    icon: "/images/social/whatsapp.svg",
    label: "WhatsApp",
  },
  {
    link: "https://www.linkedin.com/company/code-dimension/",
    icon: "/images/social/linkedin.svg",
    label: "LinkedIn",
  },
  {
    link: "https://www.instagram.com/codedimension_/",
    icon: "/images/social/instagram.svg",
    label: "Instagram",
  },
  {
    link: "https://www.tiktok.com/@codedimension",
    icon: "/images/social/tiktok.svg",
    label: "Tiktok",
  },
];

const podimensionLinks = [
  {
    link: "https://www.youtube.com/playlist?list=PLXEUJjGpEX7wLV1H35P262slQfuWXJKQK",
    label: "YouTube",
  },
  {
    link: "https://open.spotify.com/show/6mCmhpeOn0JgpF3Wf5nvtx?si=41e1567f8442474e",
    label: "Spotify",
  },
  {
    link: "https://music.amazon.com/podcasts/7c318b6b-27a9-412f-b3f5-f1e92396922d/podimension",
    label: "Amazon Music",
  },
];

const aboutLinks = [
  { link: "https://roadmap.codedimension.com.br/", label: "Roadmap" },
  { link: "/quem-somos", label: "Quem Somos" },
  { link: "https://blog.codedimension.com.br", label: "Blog" },
  { link: "/se-inscreva", label: "Assine nossa Newsletter" },
];
---

<section class="lg:py-5 mt-32">
  <ContentContainer>
    <div class="flex flex-col items-center">
      <div class="flex flex-col max-w-[700px] w-full">
        <div class="flex justify-center">
          <img class="w-[200px] lg:w-[300px]" src="/images/logomark/logo-cd-full.svg" alt="Youtube" />
        </div>

        <div class="flex flex-col lg:flex-row mt-20 lg:mt-20">
          <div class="flex justify-center lg:justify-start lg:mt-0 lg:basis-1/3">
            <div class="flex flex-col items-center lg:items-start">
              <h3 class="text-lg font-bold">Sobre</h3>

              {
                aboutLinks.map(({ link, label }) => (
                  <a
                    class="flex mt-6  hover:decoration-[#6657ec] hover:decoration-solid hover:underline hover:underline-offset-2"
                    href={link}
                  >
                    {label}
                  </a>
                ))
              }
            </div>
          </div>

          <div class="flex justify-center mt-12 lg:mt-0 lg:basis-1/3">
            <div class="flex flex-col items-center lg:items-baseline">
              <h3 class="text-lg font-bold">Podimension</h3>

              {
                podimensionLinks.map(({ link, label }) => (
                  <a
                    class="flex mt-6  hover:decoration-[#6657ec] hover:decoration-solid hover:underline hover:underline-offset-2"
                    href={link}
                  >
                    {label}
                  </a>
                ))
              }
            </div>
          </div>

          <div class="flex justify-center mt-12 lg:mt-0 lg:justify-end lg:basis-1/3">
            <div class="flex flex-col items-center lg:items-start">
              <h3 class="text-lg font-bold">Rede Sociais</h3>

              {
                socialMediaLinks.map(({ link, icon, label }) => (
                  <a class="flex mt-6" href={link}>
                    <img class="w-[25px]" src={icon} alt={label} />
                    <span class=" hover:decoration-[#6657ec] hover:decoration-solid hover:underline hover:underline-offset-2 ml-1">
                      {label}
                    </span>
                  </a>
                ))
              }
            </div>
          </div>
        </div>
      </div>

      <div id="copyright" class="flex justify-center mt-20 font-bold"></div>
    </div>
  </ContentContainer>
</section>

<script>
  const el = document.querySelector("#copyright");

  const currentYear = new Date().getFullYear();

  if (el) {
    el.textContent = `Code Dimension © ${currentYear}`;
  }
</script>
