---
import Layout from "../../layouts/Layout.astro";
import ContentContainer from "@shared/containers/ContentContainer.astro";
import MailchimpForm from "@shared/forms/mailchimp-form.astro";
import Feature from "@partials/testes-automatizados/feature.astro";
import WaitingList from "@partials/testes-automatizados/waiting-list.astro";
import { features } from "@partials/testes-automatizados/features-data";

const layoutProps = {
  title: "Curso Testes Automatizados com Angular", 
  description:"Aprenda a criar testes eficientes de verdade com Angular e torne-se um profissional altamente requisitado no mercado!",
  url: Astro.url.href,
  image: Astro.url.origin + "/images/courses/testes-automatizados/og-curso-testes-automatizados.png",
}

---

<Layout {...layoutProps}>
  <ContentContainer>
    <div
      class="h-[calc(100vh_-_105px)] xl:h-[calc(100vh_-_90px)] flex flex-col justify-center relative -mt-6"
    >
      <div class="flex justify-center xl:justify-start z-20">
        <div
          class="w-full max-w-[630px] flex flex-col justify-center text-center xl:text-start"
        >
          <h1 class="text-5xl font-bold">
            Domine Testes Automatizados com <span class="angular-font-color"
              >Angular</span
            >
          </h1>

          <p class="text-xl py-16 xl:py-10">
            Aprenda a criar testes eficientes de verdade e torne-se um
            profissional altamente requisitado no mercado!
          </p>

          <MailchimpForm submitBtnLabel="Entrar na lista de espera" />
        </div>
      </div>
      <img
        src="/images/courses/testes-automatizados/banner-robot.png"
        class="max-w-[650px] absolute w-full opacity-20 xl:opacity-100 xl:right-0"
      />
    </div>
  </ContentContainer>

  <section class="py-24 bg-gray">
    <ContentContainer>
      <div class="flex flex-col items-center">
        <div class="flex justify-center">
          <h2 class="text-4xl font-bold text-center">
            Confira o que você aprenderá no curso! 👇🏽
          </h2>
        </div>

        <div class="w-full max-w-[900px] pt-32">
          <div class="w-full max-w-[900px]">
            {
              features.map(
                ({
                  imageUrl,
                  imageAlt,
                  title,
                  description,
                  orientation = "left",
                }) => (
                  <div class="my-16">
                    <Feature
                      orientation={orientation}
                      imageUrl={imageUrl}
                      imageAlt={imageAlt}
                    >
                      <Fragment slot="title">{title}</Fragment>
                      <Fragment slot="description">{description}</Fragment>
                    </Feature>
                  </div>
                )
              )
            }
          </div>

          <div class="flex justify-center pt-24">
            <h2 class="text-4xl font-bold text-center">E muito mais! 🤩</h2>
          </div>
        </div>
      </div>
    </ContentContainer>
  </section>

  <section class="py-24">
    <WaitingList />
  </section>

  <section class="py-24 bg-gray">
    <ContentContainer>
      <div class="flex justify-center">
        <div class="w-full">
          <h2 class="text-4xl font-bold text-center mb-16">
            Tecnologias que serão utilizadas
          </h2>

          <div class="flex justify-center flex-wrap gap-8">
            <img
              src="/images/courses/testes-automatizados/angular_gradient.png"
              class="tech-image"
              alt="Cypress"
            />
            <div class="flex flex-col justify-center">
              <h3 class="text-3xl font-bold text-red-600 text-center">
                ng-mocks
              </h3>
            </div>
            <img
              src="/images/courses/testes-automatizados/atl-logo.png"
              alt="Cypress"
              class="tech-image"
            />
            <img
              src="/images/courses/testes-automatizados/Cypress_Logomark_Dark-Color.png"
              alt="Cypress"
              class="tech-image"
            />
            <img
              src="/images/courses/testes-automatizados/tailwindcss-mark.svg"
              alt="Tailwindcss"
              class="tech-image"
            />
          </div>
        </div>
      </div>
    </ContentContainer>
  </section>

  <section class="py-24">
    <ContentContainer>
      <div class="flex justify-center">
        <div class="w-full">
          <h2 class="text-4xl font-bold text-center mb-16">
            Sobre o instrutor
          </h2>

          <div class="flex justify-center flex-wrap gap-16">
            <img
              src="/images/courses/testes-automatizados/instructor.jpg"
              class="w-[200px] h-[200px] rounded-full"
              alt="Instructor"
            />

            <div class="flex flex-col justify-center">
              <h3 class="text-3xl font-bold text-center md:text-start">
                Henrique Custódia
              </h3>
              <p class="text-lg max-w-sm pt-4 text-center md:text-start">
                Arquiteto Frontend especializado em Angular com mais de 10 anos
                de experiência.
              </p>
            </div>
          </div>
        </div>
      </div>
    </ContentContainer>
  </section>

  <section class="py-24 bg-gray">
    <WaitingList />
  </section>

  <style lang="scss">
    .tech-image {
      @apply w-[100px] h-[100px] lg:w-[150px] lg:h-[150px];
    }
  </style>
</Layout>
