---
import ContentContainer from "../../shared/containers/ContentContainer.astro";

interface Course {
  imageUrl: string;
  imageAlt: string;
  badgeClass: string;
  badgeText: string;
  title: string;
  description: string;
  url: string;
}

const courses: Course[] = [
  {
    imageUrl: "/images/courses/ng17.png",
    imageAlt: "Curso de Angular 17",
    badgeClass: "badge-accent",
    badgeText: "gratuito",
    title: "Curso de Angular 17",
    description:
      "Construa uma aplicação para gerenciar produtos e aprenda conceitos fundamentais amplamente usados pelo mercado.",
    url: "https://www.youtube.com/playlist?list=PLXEUJjGpEX7zwdFSAzIPiSf9p0tOeI1Yu",
  },
  {
    imageUrl: "images/courses/testes-automatizados/banner-robot.png",
    imageAlt: "Curso Testes Automatizados com Angular",
    badgeClass: "badge-warning",
    badgeText: "Lançamento",
    title: "Curso Testes Automatizados com Angular",
    description:
      "Aprenda a criar testes eficientes de verdade e torne-se um profissional altamente requisitado no mercado!",
    url: "/cursos/testes-automatizados",
  },
];
---

<section>
  <ContentContainer>
    <div class="flex flex-col items-center">
      <div class="max-w-[780px] w-full">
        <h1 class="section-title font-bold text-center">
          Nossos super cursos
        </h1>

        <p class="w-full max-w-[750px] section-description leading-relaxed text-center mt-8">
          Nossa meta é tornar você uma pessoa desenvolvedora <strong
            class="angular-font-color">Angular</strong
          >
          de altíssimo nível através de cursos que são realmente relevantes!
        </p>
      </div>
      <div class="mt-28 flex justify-center flex-wrap gap-8">
        {
          courses.map((course) => (
            <div class="card max-w-[350px] w-full bg-base-100 shadow-xl">
              <figure>
                <img class="card-image" src={course.imageUrl} alt={course.imageAlt} />
              </figure>
              <div class="card-body">
                <div class="badge" class:list={course.badgeClass} >{course.badgeText}</div>

                <h2 class="card-title">{course.title}</h2>

                <p class="mt-3">{course.description}</p>

                <div class="card-actions mt-3">
                  <a class="btn btn-primary w-full" href={course.url}>
                    Acessar curso
                  </a>
                </div>
              </div>
            </div>
          ))
        }
      </div>
    </div>
  </ContentContainer>
</section>

<style>
  .card-image {
    @apply h-full max-h-[200px];
  }
</style>
